<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #000000;">
    <a class="navbar-brand" href="#" style="color: #ffffff; font-family: 'Open Sans', sans-serif;">
        <img src="assets/images/logo.png" alt="Drift Logo"
            style="height: 30px; margin-right: 10px;">
        DRIFT
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #ffffff;">
                    Collections
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1" style="background-color: #ffffff;">
                    <a class="dropdown-item" href="#">DRIFT Cars</a>
                    <a class="dropdown-item" href="#">RACE Cars</a>
                    <a class="dropdown-item" href="#">BURN Cars</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: #ffffff;">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#favCars" style="color: #ffffff;">Fav Cars</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#joinUs" style="color: #ffffff;">Join Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="login" style="color: #ffffff;">Login</a>
            </li>
        </ul>
    </div>
</nav>






<section style="position: relative;">
    <video autoplay loop muted style="width: 100%;">
        <source src="assets/videos/Drifting.mp4" type="video/mp4">
    </video>
    <div
        style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: #FFFFFF;">
        <h1 style="color: #ffffff;font-family: 'Roboto', sans-serif;">Experience
            the thrill of sideways motion.</h1>
        <p style="color: #ffffff;font-family: 'Roboto', sans-serif;">The ultimate
            destination for all drifting enthusiasts.</p>
    </div>
</section>



<section id="favCars" class="scroll-to" style="background-color: #0C1821; padding: 50px 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 style="color: #fff; margin-bottom: 50px;">Most Fav Cars</h2>
            </div>
            <div class="col-md-4 text-center">
                <img src="assets/images/car1.jpg" alt="Photo 1"
                    style="border-radius: 50%; width: 300px; height: 300px; margin-bottom: 30px;">
                <h3 style="color: #A6E1FA;">Audi</h3>
            </div>
            <div class="col-md-4 text-center">
                <img src="assets/images/car2.jpg" alt="Photo 2"
                    style="border-radius: 50%; width: 300px; height: 300px; margin-bottom: 30px;">
                <h3 style="color: #A6E1FA;">BMW</h3>
            </div>
            <div class="col-md-4 text-center">
                <img src="assets/images/car3.jpg" alt="Photo 3"
                    style="border-radius: 50%; width: 300px; height: 300px; margin-bottom: 30px;">
                <h3 style="color: #A6E1FA;">Mercedes</h3>
            </div>
        </div>
    </div>
</section>




<section id="joinUs" class="scroll-to" style="background-color: #1B2A41; color: #FFFFFF; padding: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 style=" margin-bottom: 20px;">Join Our Community</h2>
                <p style=" line-height: 1.5;">Connect with other developers and share your coding
                    knowledge. Our community is a great place to learn, grow, and collaborate.</p>
                <form action="#" method="post" class="my-2">
                    <input type="text" pInputText  placeholder="your email address.."
                        style=" width: 70%;" class="my-2">
                    <button type="button"
                        style="background-color: #A6E1FA; color: #001C55; border: none; padding: 10px 20px; font-size: 1.2rem;" class="m-1">Join
                        Now</button>
                </form>
            </div>
            <div class="col-md-6">
                <img src="assets/images/car4.jpg" alt="Community Image" class="w-100">
            </div>
        </div>
    </div>
</section>

<footer class="bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="assets/images/logo.png" alt="Logo" style="height: 200px;" class=" mb-4">
                <p>Drifting is the art of controlled chaos - an exhilarating rush of adrenaline and pure fun.</p>
            </div>
            <div class="col-md-3">
                <h5>Menu</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Collections</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Latest Collection</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Summer 2023</a></li>
                    <li><a href="#">Spring 2023</a></li>
                    <li><a href="#">Winter 2022</a></li>
                    <li><a href="#">Fall 2022</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Contact Us</h5>
                <address>
                    <strong>Address:</strong><br>
                    Mecca Street<br>
                    Amman<br>
                    Jordan<br>
                    <br>
                    <strong>Phone:</strong> 0789722716<br>
                    <strong>Email:</strong> algohti23@gmail.com
                </address>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <p>&copy; 2023 My Fashion Store</p>
            </div>
            <div class="col-md-6">
                <ul class="list-inline text-md-end">
                    <li class="list-inline-item"><a href="#">Terms of Use</a></li>
                    <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                    <li class="list-inline-item"><a href="#">Cookie Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

