<div class="container">
    <h1>Login</h1>
    <form>
        <label for="username">Username</label>
        <input type="text" id="username"  pInputText name="username" placeholder="Enter username">
        <label for="password">Password</label>
        <input type="password" id="password" pInputText name="password" placeholder="Enter password">
        <button type="submit">Login</button>
    </form>
</div>

<div class="transition-text">
    <!-- <h2 class="text-1">Welcome to our website</h2> -->
    <h2 class="text-2">Don't miss the Adrenaline!!</h2>
</div>